.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
pyvenv.cfg
.venv
pip-selfcheck.json
tweet_memento_scraper/__pycache__
tweet_memento_scraper/*/__pycache__
.pytest_cache
tweet_memento_scraper.egg-info